.bg{
    width: 100%;  
    min-height: 100vh;
  background: #a64bf4;
  background: -webkit-linear-gradient(45deg, #00dbde, #fc00ff);
  background: -o-linear-gradient(45deg, #00dbde, #fc00ff);
  background: -moz-linear-gradient(45deg, #00dbde, #fc00ff);
  background: linear-gradient(45deg, #00dbde, #fc00ff);
}
.form{
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}